/* Input
=======================================================*/
.Input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 354px;
    line-height: 16px;
}

.Input-container input {
    width: 100%;
    outline: none;
}

.Input-container.input-light input {
    border: 0;
    border-bottom: 1px solid#bb000e;
}
.Input-container.input-dark input {
    min-height: 21px;
    padding: 1px;
    border: 0;
    border-bottom: 1px solid #bb000e;
    background-color: #2c2c2c;
    color: #ffffff;
}
.Input-container.input-dark label {
    color: #ffffff;
}

.icon {
    margin-right: 8px;
}
.icon--grey {
    color: #000000;
    opacity: 0.4;
}

.icon--red {
    color: #e31c25;
}

.icon--red-dark {
    color: #e31c25;
    opacity: 0.4;
}

/* Select
===================================================*/
.select-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 354px;
    line-height: 16px;
}

.select-container select {
    width: 100%;
    height: 22px;
    outline: none;
    border: none;
    border-bottom: 1px solid #bb000e;
    background-color: #2c2c2c;
    color: #ffffff;
}

.select-container label {
    color: #ffffff;
}

/* Button
===================================================== */
.btn {
    color: #ffffff;
    border-radius: 0;
    border: 0;
    line-height: 16px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}
.btn:hover {
    cursor: pointer;
}

.btn-light {
    background-color: #e31c25;
}

.btn-dark {
background-color: #bb000e;
}

.btn .icons-span {
margin-right: 8px;
}

/* Search bar
=========================================*/
.searchBar {
width: 535px;
height: 28px;
padding: 6px 24px;
outline: none;
border: none;
border-radius: 15px;
background-color: #2c2c2c;
font-size: 16px;
color: #ffffff;
}

.searchBar::placeholder {
opacity: 60%;
}
