.App {
  text-align: center;
  min-height: 100vh;
}

.center-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-section {
  --button-color: var(--color-black)!;
  --text-color: var(--color-black)!;
  --section-title-color: var(--color-black)!;
  background: var(--color-white)!;
}
